project_id = "kmrcrrcauhrygiccazpx"

[functions.create-checkout-session]
verify_jwt = false

[functions.check-subscription]
verify_jwt = false

[functions.customer-portal]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false